@model e_commerce.Models.LaisserAvis
@{
    ViewBag.Title = "LaisserUnAvis sur" + Model.nomprod;
}

<h2>LaisserUnAvis</h2>
@using (Html.BeginForm("SaveComment", "Avis", FormMethod.Post))
{
<div class="form-group">
    <textarea name="commentaire" id="commentaire" rows="5" class="form-control"></textarea>
</div>
    <br />
    <div class="form-group">
        <label>choisissez votre note:</label>
        <select name="note" class="form-control">
            <option>1</option>
            <option>1.5</option>
            <option>2</option>
            <option>2.5</option>
            <option>3</option>
            <option>3.5</option>
            <option>4</option>
            <option>4.5</option>
            <option>5</option>
        </select>
    </div>
    <br/>
    <input type="submit" value="envoyer" class="btn btn-primary"/>
    <input type="hidden" name="idprod" value="@Model.idprod" />
}