@model IEnumerable<e_commerce.Models.AvisViewModel>
@{
    ViewBag.Title = "ListesAvis";
    string idProd = ViewBag.IdProd as string; // Récupérer l'ID du produit depuis ViewBag
}

@* Récupérer le premier ID du produit à partir de la boucle *@

@* Lien pour ajouter un avis avec l'ID du produit *@


<div class="container" style="margin-top:40px;">

    @foreach (var avi in Model)
    {
        if (idProd == null)
        {
            idProd = avi.id_produit;
        }
        <article class="bg-grey">
            <p>@avi.NomPersonne</p>
            <span>
                <span class="glyphicon glyphicon-star yellow"></span>
                @if (avi.Note > 1)
                {
                    <span class="glyphicon glyphicon-star yellow"></span>
                }
                @if (avi.Note > 2)
                {
                    <span class="glyphicon glyphicon-star yellow"></span>
                }
                @if (avi.Note > 3)
                {
                    <span class="glyphicon glyphicon-star yellow"></span>
                }
                @if (avi.Note > 4)
                {
                    <span class="glyphicon glyphicon-star yellow"></span>
                }
            </span>
            <p>@avi.Commentaire</p>
            <p>@avi.Note/5</p>
        </article>

    }
</div>
@if (!string.IsNullOrEmpty(idProd))
{
<button class="btn btn-primary" style="background-color:#3962df;border:none;color:white;margin-left: 50px;">
    @Html.ActionLink("Ajouter un avis", "LaisserAvis", "Avis", new { idprod = idProd }, new { @class = "white-text" })
</button>
}
else
{
    <p>Aucun produit trouvé.</p>
}