@model IEnumerable<e_commerce.Data.PRODUIT>
@{
    ViewBag.Title = "ListesProduits";
}

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            // Vérifier si le message de succès est présent
            @if (TempData["SuccessMessage"] != null)
            {
                <text>
                Swal.fire({
                    title: 'Succès!',
                    text: 'le produit a ete ajouter avec succes',
                    icon: 'success',
                    confirmButtonText: 'OK'
                });
                </text>
            }

            $('.btn-delete').click(function (event) {
                var btnClick = $(event.target).closest('button');
                var IdSupprimer = $(btnClick).attr('data-id');

                // Utiliser SweetAlert pour la confirmation de suppression
                Swal.fire({
                    title: 'Êtes-vous sûr ?',
                    text: "Voulez-vous vraiment supprimer ce produit ?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Oui, supprimer !',
                    cancelButtonText: 'Annuler'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Si l'utilisateur confirme la suppression
                        $.ajax({
                            url: '@Url.Action("Delete")',
                            type: 'POST',
                            data: { id: IdSupprimer },
                            success: function (data) {
                                if (data.suppression == "OK") {
                                    $(btnClick).closest('tr').fadeOut(400, function () {
                                        $(this).remove();
                                    });

                                    // Afficher une alerte de succès après la suppression
                                    Swal.fire(
                                        'Supprimé!',
                                        'Le produit a été supprimé avec succès.',
                                        'success'
                                    );
                                }
                            }
                        });
                    }
                });
            });
        });
    </script>
}
<div class="contenu_produit" style="margin-top:50px;">
    <a href="@Url.Action("Create", "Produit")" class="button-style">
        <span class="glyphicon glyphicon-plus"></span> Ajouter new produit
    </a>
    <div class="tableau_produit" style="margin-top:20px;">
        @using GridMvc.Html
        @Html.Grid(Model).Columns(columns =>
        {
            columns.Add(p => p.id_prod).Titled("Id Produit").Sortable(true);
            columns.Add(p => p.nom).Titled("Nom").Filterable(true).Sortable(true);
            columns.Add(p => p.description).Titled("Description").Filterable(true);
            columns.Add(p => p.id_categorie).Titled("Catégorie").Filterable(true);
            columns.Add(p => p.prix).Titled("Prix").Sortable(true);
            columns.Add(p => p.qte).Titled("Quantité").Sortable(true);
            columns.Add()
                   .Titled("Image")
                   .Sanitized(false)
                   .Encoded(false)
                   .RenderValueAs(p => $"<img src='{Url.Content(p.ImageUrl)}' class='table-image' />");
            columns.Add()
                   .Sanitized(false)
                   .Encoded(false)
                   .RenderValueAs(p => "<button class='btn btn-delete' data-id='" + p.id_prod + "'><span class='glyphicon glyphicon-remove'></span></button>");
        }).WithPaging(3)

    </div>
</div>