@model IEnumerable<e_commerce.Models.HistoriqueCommandeViewModel>
@{
    ViewBag.Title = "historique_commande_admin";
}

<!-- Inclusion de SweetAlert -->
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.0/dist/sweetalert2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.0/dist/sweetalert2.all.min.js"></script>

<div style="margin-top:40px;">
    @using GridMvc.Html
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(p => p.IdCom).Titled("Id commande").Sortable(true);
    columns.Add(p => p.DateCommande).Titled("Date du commande").Filterable(true).Sortable(true);
    columns.Add(p => p.NomClient).Titled("Nom du client").Filterable(true);
    columns.Add()
      .Titled("Total du commande")
      .Sanitized(false)
      .Encoded(false)
      .RenderValueAs(p =>
      {
          var formattedTotal = string.Format("{0:N0}", p.TotalCommande); // Formate le total avec des séparateurs de milliers
              return $"{formattedTotal} Ar";
      });
    columns.Add()
        .Titled("Statut de livraison")
        .Sanitized(false)
        .Encoded(false)
        .RenderValueAs(p =>
        {
            var statusClass = p.StatutLivraison == "Déjà livré" ? "text-success font-weight-bold" : "text-danger font-weight-bold";
            return $"<span class='{statusClass}'>{p.StatutLivraison}</span>";
        });// Nouvelle colonn
    columns.Add()
        .Sanitized(false)
        .Encoded(false)
        .RenderValueAs(p => $"<button class='btn btn-edit' onclick=\"location.href='{Url.Action("Edite", "HistoriqueCommande", new { id = p.IdCom })}'\"><span class='glyphicon glyphicon-pencil'></span></button>");
    columns.Add()
        .Sanitized(false)
        .Encoded(false)
        .RenderValueAs(p => "<button class='btn btn-default btn-delete' data-id='" + p.IdCom + "'><span class='glyphicon glyphicon-remove'/></button>");
}).WithPaging(9)
</div>

<script>
    // SweetAlert pour afficher le message de succès
    @if (TempData["SuccessMessageEdite"] != null)
    {
        <text>
            Swal.fire({
                icon: 'success',
                title: 'Succès',
                text: 'produit a ete modifier avec success',
                confirmButtonText: 'OK'
            });
        </text>
    }
</script>
