body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Taille de glyphicon*/
.taille_gly {
    font-size: 25px;
    color: #b1abab;
}
.form_gly {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*couleur de vavigation*/
.sidebar .nav-link {
    color: #ddd;
    margin: 5px 0;
}
    /*effet lorsqu'on survol sur le souris*/
    .sidebar .nav-link:hover {
        color: #fff;
    }

/* Style pour la barre de navigation en haut */
.navbar-custom {
    background-color: #343a40; /* Même couleur que la sidebar */
    border-bottom: 1px solid #ddd;
}

    .navbar-custom .navbar-brand,
    .navbar-custom .form-control,
    .navbar-custom .btn-outline-success {
        color: #fff;
    }

/* Ajustement pour éviter le scroll horizontal quand la sidebar est visible */
@media (min-width: 768px) {
    .content.shift {
        width: calc(100% - 250px); /* Ajuste la largeur pour éviter le scroll horizontal */
    }
}
/* Barre latérale cachée à gauche par défaut */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 100;
    width: 250px;
    left:-250px;
    background-color: #343a40;
    color: #fff;
    transition: left 0.3s ease-in-out;
}

    /* Quand la barre latérale est visible */
    .sidebar.show {
        left: 0; /*Position normale lorsqu'elle est affichée */
    }

/* Contenu principal ajusté quand la barre latérale est visible */
.content.shift {
    margin-left: 250px;
    transition: margin-left 0.3s ease-in-out;
}

.sidebar .nav {
    padding-top: 70px; /*pour pousser le nav vers le bas*/
}
#nav_haut {
    background-color: #343a40;
}
.navbar-nav {
    position: relative;
}
    .navbar-nav li {
        position: relative;
    }
.notification {
    color: white;
    position: absolute;
    top: 13px;
    right: 10px;
    background-color: red;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align:center;
}

.loader {
    width: 100vw; /* Prend toute la largeur de la fenêtre */
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; /* Commence en haut de la page */
    left: 0; /* Commence à gauche de la page */
    color: white;
    z-index: 1053; /* z-index assez haut pour être au-dessus de tous les éléments, y compris la navbar */
}

.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
    visibility: hidden; /* Cache totalement l'élément après le fondu */
    z-index: -1; /* S'assure que l'élément ne bloque plus l'interaction */
}

.letter{
    color:#484848;
    font-size:80px;
    letter-spacing:15px;
    margin-bottom:150px;
    animation:flash 1.2s linear infinite;
}
@keyframes flash{
    0%{
        color:#fff900;
        text-shadow:0 0 7px #fff900;
    }
    90%{
        color:#484848;
        text-shadow:none;
    }
    100% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900;
    }
}
.letter:nth-child(1){
    animation-delay:0.1s;
}
.letter:nth-child(2) {
    animation-delay: 0.2s;
}
.letter:nth-child(3) {
    animation-delay: 0.3s;
}
.letter:nth-child(4) {
    animation-delay: 0.4s;
}
.letter:nth-child(5) {
    animation-delay: 0.5s;
}
.letter:nth-child(6) {
    animation-delay: 0.6s;
}
.letter:nth-child(7) {
    animation-delay: 0.7s;
}
.letter:nth-child(8) {
    animation-delay: 0.8s;
}
.letter:nth-child(9) {
    animation-delay: 0.9s;
}
.letter:nth-child(10) {
    animation-delay: 1s;
}
