@model IEnumerable<e_commerce.Data.USERS>
@{
    ViewBag.Title = "ListeUsers";
}
@section Scripts{
    <script>
          $(document).ready(function () {
                  $('.btn-delete').click(function (event) {
                var btnClick = $(event.target).closest('button');
                var IdSupprimer = $(btnClick).attr('data-id');

                // Utiliser SweetAlert pour la confirmation de suppression
                Swal.fire({
                    title: 'Êtes-vous sûr ?',
                    text: "Voulez-vous vraiment supprimer ce produit ?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Oui, supprimer !',
                    cancelButtonText: 'Annuler'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Si l'utilisateur confirme la suppression
                        $.ajax({
                            url: '@Url.Action("Delete")',
                            type: 'POST',
                            data: { id: IdSupprimer },
                            success: function (data) {
                                if (data.suppression == "OK") {
                                    $(btnClick).closest('tr').fadeOut(400, function () {
                                        $(this).remove();
                                    });

                                    // Afficher une alerte de succès après la suppression
                                    Swal.fire(
                                        'Supprimé!',
                                        'Le produit a été supprimé avec succès.',
                                        'success'
                                    );
                                }
                            }
                        });
                    }
                });
            });

          })
    </script>
}
@using GridMvc.Html
<div style="margin-top:40px;">
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(u => u.id_user);
        columns.Add(u => u.nom).Filterable(true);
        columns.Add(u => u.telephone).Filterable(true);
        columns.Add(u => u.adresse).Filterable(true);
        columns.Add(u => u.date_inscription).Sortable(true);
        columns.Add()
           .Sanitized(false)
           .Encoded(false)
           .RenderValueAs(u => "<button class='btn btn-default btn-delete' data-id='" + u.id_user + "'><span class='glyphicon glyphicon-remove'/></button>");
    }).WithPaging(10)
</div>
